@page
@model ProyectoBaseDD.Pages.Asignatura.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Asignatura</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           Nombre
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asignatura.Nombre)
        </dd>
        <dt class="col-sm-2">
            Cve. Asignatura
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asignatura.CveAsig)
        </dd>
        <dt class="col-sm-2">
           Creditos
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asignatura.Creditos)
        </dd>
        <dt class="col-sm-2">
            Cve. Carrera
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asignatura.CveCarrera)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Asignatura?.CveAsig">Editar</a> |
    <a asp-page="./Index">Regresar</a>
</div>
